[submodule "app/src/main/java/dk/kea/androidgame/martin/carscroller/my-first-game-engine"]
	path = app/src/main/java/dk/kea/androidgame/martin/carscroller/my-first-game-engine
	url = https://github.com/martinloesethjensen/my-first-game-engine.git
	branch = engine-only-code-files
